@{
    Layout = "default";
    Title = "Jeremy Abbott's Blog Posts";
    Description = "Articles about software development.";
}
@using System.Linq

<div>
@foreach (var post in Enumerable.Take(Model.Posts, 10))
    {
        <article>
            <h2><a href="/blog/@post.Url/">@post.Title</a></h2>
            <p>@post.Description</p>
            <p><a href="/blog/@post.Url/">Read more...<a/></p>
        </article>
    }
</div>
