@{
    Layout = "default";
    Title = "Jeremy Abbott's Blog Posts";
    Description = "Articles about software development.";
}
@using System.Linq

<div class="col-sm-9">
</div>
<div class="col-sm-3">
    <h2>Recent Posts</h2>
    <ul>
    @foreach (var post in Enumerable.Take(Model.Posts, 10))
    {
        <li><a href="/blog/@post.Url/">@post.Title</a></li>
    }
    </ul>
</div>